<div class="container" *ngIf="productsInput$">
    <ng-container *ngIf="(productsInput$ | async) as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="DataStateEnum.LOADING">LOADING ...</ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
            <div class="col-12 text-center">
                <div class="alert alert-danger">
                    {{ result.errorMessage}}
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
            <table class="table">
                <tr>
                    <th>id</th><th>Name</th><th>Price</th><th>Quantity</th><th>Selected</th><th>Available</th>
                </tr>
                <app-product-item *ngFor="let p of result.data" [p]="p"
                style="display: contents;"></app-product-item>
            </table>
        </ng-container>
    </ng-container>
  
</div>